*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

.navbar{
    background-color: rgb(235, 47, 79);
    font-size: 30px;
    color: white;
    text-decoration: none;
    box-shadow: 50px;
}

a{
    color: white;
}

a:hover{
    color: black;
}

a:active{
    color: white;
}

.colordrop:hover{
    color: black;
}

.boton{
    color: white;
    border: 1px solid black;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 10%;
    box-shadow: 0 0 1px #333;
    font-size: 23px;
}

.colordrop:focus{
    color: black;
}

.colordrop{
    color: white;
}

li a:hover{
    color: white;
}

.carritoimg{
    width: 35px;
    height: 35px;
    padding: 1px;
    background-color: rgb(235, 47, 79);
}

.carritoespacio{
    background-color: rgb(235, 47, 79);
    border: 0px;
    margin-right: 15px;
    margin-bottom: 1px;
}