*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(246, 246, 243);
}

.navbar{
    background-color: rgb(189, 134, 222);
    color: white;
    text-decoration: none;
    box-shadow: 150px;
    font-weight: bold;
    font-size: 20px;
}

.navimagen{
    height: 50px;
    width: 180px;
}

.dropdown-item{
    font-weight: bold;
}

a{
    color: white;
}

a:hover{
    color: black;
}

a:active{
    color: white;
}

.colordrop:hover{
    color: black;
}

.boton{
    color: white;
    border: 1px solid black;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 10%;
    box-shadow: 0 0 1px #333;
}

.colordrop:focus{
    color: black;
}

.colordrop{
    color: white;
}

li a:hover{
    color: white;
}

.carritoimg{
    width: 35px;
    height: 35px;
    padding: 1px;
    background-color: rgb(189, 134, 222);
    color: white;
}

.carritoimg:hover{
    width: 35px;
    height: 35px;
    padding: 1px;
    background-color: rgb(189, 134, 222);
    color: black;
}

.carritoespacio{
    background-color: rgb(189, 134, 222);
    border: 0px;
    margin-right: 15px;
    margin-bottom: 1px;
}

.BotonAgregarC{
    background-color: rgb(189, 134, 222);
    height: 50px;
    width: 200px;
    margin-top: 10px;
    border: 3px solid black;
}

.BotonAgregarC:hover{
    background-color: rgb(189, 134, 222);
}

.BotonesSR{
    background-color: rgb(189, 134, 222);
    height: 50px;
    width: 50px;
    text-align: center;
    border: 3px solid black;
    font-weight: bold;
    font-size: 20px;
}

.NumeroSR{
    font-size: 25px;
}

.producto{
    width: 10rem;
    display: flex;
}

.container{
    display: inline;
    font-weight: bold;
    font-size: 10px;
    align-items: center;
    margin: 0 0;
}

.card{
    width: 210px;
    font-weight: bold;
    font-size: 13px;
    height: 280px;
    display: inline-block;
    border: 1px double;
    border-color: rgb(185, 187, 194);
    background-color: white;
    text-align: center;
    margin: 10px;
}

.card:hover{
    border: solid rgba(0, 0, 0, 0.298);
}

.precio{
    font-size: 15px;
    font-weight: bold;
}

.image{
    height: 150px;
    width: 150px;
    text-align: center;
    align-items: center;
}

.envio{
    background-color: rgb(249, 208, 59);
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.trabajando{
    background-color: black;
    height: 40px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.imageninicio{
    width: 100%;
    height: 300px;
}



